<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InventarioTI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InventarioTI.Properties.Settings>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Senha" serializeAs="String">
                <value />
            </setting>
            <setting name="UnidadePadrao" serializeAs="String">
                <value />
            </setting>
            <setting name="Lateral" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Maximizado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Eq" serializeAs="String">
                <value>0</value>
            </setting>
        </InventarioTI.Properties.Settings>
    </userSettings>
</configuration>